body {
    background-color:#b29cb8 ;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family:'Courier New', Courier, monospace ;
    font-size: 20px;
  }

#after_submit{
    visibility: hidden;
  }
  